* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f172a; /* fundo escuro bonito */
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 40px;
}

.container {
  background: #020617;
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  width: 320px;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

.topo {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

input {
  padding: 8px;
  flex: 1;
  border-radius: 4px;
  border: 1px solid #334155;
  background: #0b1120;
  color: #e5e7eb;
}

button {
  padding: 8px 12px;
  background: #f97316;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #ea580c;
}

ul {
  list-style: none;
}

li {
  background: #020617;
  border: 1px solid #1f2937;
  margin-bottom: 6px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

li span {
  cursor: pointer;
}

.feita span {
  text-decoration: line-through;
  color: #6b7280;
}

.botoes {
  display: flex;
  gap: 4px;
}

.botoes button {
  padding: 4px 8px;
  font-size: 11px;
}
